@font-face {
    font-family: 'Bebas';
    src: url('../font/BebasNeue-webfont.eot?') format('eot'),
         url('../font/BebasNeue-webfont.woff') format('woff'),
         url('../font/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
    font-weight: normal;
    font-style: normal;

}

