input.large-field, select.large-field, textarea.large-field {
    width: 70%;
}

input.medium-field, select.medium-field, textarea.medium-field {
    width: 35%;
}

label.small { min-width: 5em; display: inline-block }

#mpv_map_fields > label,
#mapasdevista_metabox label {
    font-weight: bold;
}

#mpv_map_fields ul {
    padding-left: 4em;
}

#mapasdevista_metabox fieldset input {
    margin-right: 1em;
}

div.mpv_canvas {
    height: 400px;
    margin: 1em 0 1em 0;
    border-width: 1px;
    border-style: solid;
}
