input.large-field, select.large-field, textarea.large-field {
    width: 70%;
}

input.medium-field, select.medium-field, textarea.medium-field {
    width: 35%;
}

label.small { min-width: 5em; display: inline-block }

#mpv_map_fields > label,
#mapasdevista_metabox label {
    font-weight: bold;
}

#mpv_map_fields ul {
    padding-left: 4em;
}

#mapasdevista_metabox fieldset input {
    margin-right: 1em;
}

div.mpv_canvas {
    height: 400px;
    margin: 1em 0 1em 0;
    border-width: 1px;
    border-style: solid;
}

#pinlist {
    float: left;
    width: 100%;
    margin: 1em;
    clear: both;
}

#pinlist div.icon  {
    float: left;
    width: 80px;
    height: 80px;
}

#image-panel-background {
    position: relative;
    border: 1px solid black;
    background-color: #AAA;
    margin: 1em 0;
    text-align: center;
}

#image-panel {
    position: relative;
    margin: 1em auto;
    background-color: #FFF;
    border: none;
}

#image-y-ruler {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    background-color: #000;
}

#image-x-ruler {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
    background-color: #000;
}

